<!DOCTYPE html>
<html ng-app="app">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>CodeStudio</title>
    <meta charset="utf-8" />
	<script src="/js/lib/angular.js"></script>
</head>

<body>
    <div class="wrapper">
        <div class="sidebar-wrapper"></div>
        <div class="page">
            <div class="navbar">
                <a class="toggle">汉堡菜单</a>
                <h1 class=navbar-brand>
                    <a class="brand" href="/dillinger">DILLINGER</a>
                </h1>
                <h1 class=navbar-brand>
                    <a class="brand" href="/tryit">try it</a>
                </h1>
                <nav class="nav nav-right">
                    <ul class="menu menu-utilities">
                        <li class="menu-itemhas-dropdown">
                            <a class="dropdown-toggle">Preview as <span class="caret"></span></a>
                            <ul class="dropdown dropdown-menu ng-scope" role="menu">
                                <li>
                                    <a ng-click="export.asHTML()" class="export-html">HTML</a>
                                </li>
                                <li>
                                    <a ng-click="export.asStyledHTML()" class="export-styled_html">Styled HTML</a>
                                </li>
                                <li>
                                    <a ng-click="export.asMarkdown()" class="export-md">Markdown</a>
                                </li>
                                <li>
                                    <a ng-click="export.asPDF()" class="export-pdf">PDF</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="content">
                <div class="editor-header">
                    <h3 class="title">MARKDOWN</h3>
                    <a class="enter-zen-mode">Toggle Zen Mode</a>
                </div>
                <div class="preview-header">
                    <h3 class="title">Preview</h3>
                </div>
                <div class="split split-editor">
                    <div id="editor"><textarea></textarea></div>
                </div>
                <div class="split split-preview">
                    <div class="preview"></div>
                </div>
            </div>
        </div>
    </div>
	<div ng-controller="formController">
		<table border='1' cellpadding=0 cellspacing=0>
		<tr>
		  <td>商品</td>
		  <td>单价</td>
		  <td>数量</td>
		  <td>总价</td>
		  <td>优惠</td>
		</tr>
		<tr ng-repeat="a in array">
		  <td>{{a.name}}</td>
		  <td>{{a.price}}</td>
		  <td>{{a.count}}</td>
		  <td>{{a.count*a.price}}</td>
		  <td><input size="1" ng-model='a.discount'
			ng-change="chanage(this)" /> 折 = <input size="1" ng-model='a.p'
			ng-change="chanage2(this)" /></td>
		</tr>
	  </table>
	  买家应付：  {{itemSum}}-{{preferential}}={{sum}}
	  <br> 支付说明： 总价-优惠=实际支付
	</div>

  <script type="text/javascript">
  var app = angular.module('app', []);
app.controller('formController', function($scope) {
      $scope.array = [{
            name : '小米',
            price : '20',
            count : '2'
          }, {
            name : '三星',
            price : '50',
            count : '1'
          }]; // 表格数据
      $scope.itemSum = 0; // 表格里面的总价
      $scope.preferential = 0; // 表单的优惠
      $scope.sum = 0; // 实际总价

      for (var i = 0; i < $scope.array.length; i++) {
        // 计算表单的总价
        var node = $scope.array[i];
        $scope.itemSum += (node.count * node.price);
      }

      $scope.chanage = function(t) {
        // 修改折扣后触发事件
        var node = t.a
        node.p = node.discount / 10 * node.count * node.price;// 计算折扣对应的金额
      }

      $scope.chanage2 = function(t) {
        // 修改优惠价格后对应的change事件
        var node = t.a
        var total = node.price * node.count;
        node.discount = (total - node.p) / total * 10;// 修改优惠价格后对应的折扣
      }

      $scope.$watch('array', aa, true);// 监听显示表格的数据，如果修改了就调用aa的方法

      function aa() {
        // 该方法主要是在修改了折扣或优惠后计算出新的应付的价格
        $scope.preferential = 0;
        for (var i = 0; i < $scope.array.length; i++) {
          var p = $scope.array[i].p;
          if (p != null) {
            $scope.preferential += ($scope.array[i].p - 0);
          }
        }
        $scope.sum = $scope.itemSum - $scope.preferential;
      }
    })
  </script>

</html>