<!DOCTYPE html>
<html lang="ch">
    <head>
        <title>try it</title>
        <meta charset="UTF-8">
		<link type="text/css" href="/font/iconfont.css" rel="stylesheet">
        <link type="text/css" href="/css/normalize.css" rel="stylesheet">
        <link type="text/css" href="/css/main.css" rel="stylesheet">
        <link type="text/css" href="/css/pure/base.css" rel="stylesheet">
        <link type="text/css" href="/css/pure/menus.css" rel="stylesheet">
        <link type="text/css" href="/css/pure/grids-responsive.css" rel="stylesheet">
        <link type="text/css" href="/res/angular-tree-control/tree-control-attribute.css" rel="stylesheet">
     
    </head>
    <body ng-controller="documents">
        <div class="wrapper">
            <nav class="pure-menu pure-g">
				<div class="document-header">
					<span class="document-title">{{title}}</span>
					<span class="document-title">{{title}}</span>
				</div>
                <div class="toolbar-header">
					<form method="post" id="tryitform" action="/result" target="result">
						<div class="toolbar">
							<a href="#" class="iconfont" ng-click="preview()">&#xe600;</a>
							<a href="#" class="iconfont">&#xe601;</a>
						</div> 
						<input style="display:none" type="text" name="code" ng-model="code" ng-init="code = ''" />     
					</form>
                    
                </div>
            </nav>
            <div class="sidebar">
                <div class="action-bar" ng-click="toggleSolution()">
                    <a class="title-label">解决资源管理器</a>
                </div>
                <div class="explorer-viewlet" ng-class="{'show':showSolution}">
                    <div>
                        <h3 class="explorer-title">解决资源管理器</h3>
                        <header class="explorer-bar">
                            <i class="iconfont addfile" title="新建解决方案">&#xe634;</i>
                            <i class="iconfont addfold" title="保存文件">&#xe63d;</i>
                            <i class="iconfont addfile" title="新建文件">&#xe612;</i>
                            <i class="iconfont addfold" title="新建文件夹">&#xe610;</i>
                            <i class="iconfont refresh" title="重新加载">&#xe611;</i>
                        </header>
						<div treecontrol class="tree-classic"
						     tree-model="dataForTheTree"
						     options="treeOptions"
						     on-select="afterSelect(node)">{{node.name}}</div>
                    </div>
                </div>
            </div>
            <div class="code-view pure-g">
                <div class="editor split-editor pure-u-1 pure-u-md-3-5">
                    <div id="editor" ng-click="hideSolution()"></div>
                </div>
                <div class="preview split-preview pure-u-1 pure-u-md-2-5">
                    <div id="preview">
                        <iframe id="result" name="result" class="preview-content" src="/result"></iframe>
                    </div>
                </div>
            </div>
            <footer>
                <span class="path">{{curPath}}</span>
            </footer>
        </div>
		<script type="text/javascript" src="/js/client/lib/require.js" data-main="main"></script>
		<script type="text/javascript">

		</script>
    </body>
</html>