<!DOCTYPE html>
<html lang="ch">
    <head>
        <title>try it</title>
        <meta charset="UTF-8">
		<link type="text/css" href="/font/iconfont.css" rel="stylesheet">
        <link type="text/css" href="/css/normalize.css" rel="stylesheet">
        <link type="text/css" href="/css/main.css" rel="stylesheet">
        <link type="text/css" href="/css/pure/base.css" rel="stylesheet">
        <link type="text/css" href="/css/pure/menus.css" rel="stylesheet">
        <link type="text/css" href="/css/pure/grids-responsive.css" rel="stylesheet">
		
    </head>
    <body ng-controller="documents">
        <div class="wrapper">
            <nav class="pure-menu pure-menu-open pure-menu-horizontal">
                <ul>
                    <li><a>Home</a></li>
                    <li class="pure-menu-selected"><a href="#">Flickr</a></li>
                    <li><a href="#">Messenger</a></li>
                    <li><a href="#">Sports</a></li>
                    <li>
                        <a href="#">Even More</a>
                        <ul>
                            <li><a href="#">Horoscopes</a></li>
                            <li><a href="#">Games</a></li>
                            <li><a href="#">Jobs</a></li>
                            <li><a href="#">OMG</a></li>
                        </ul>
                    </li>
                    <li><a href="#" class="iconfont">&#xe600;</a></li>
                    <li><a href="#" class="iconfont">&#xe601;</a></li>
                </ul>
            </nav>
            <div class="sidebar">
                <div class="action-bar">
                    <a class="title-label" ng-click="toggleSolution()">解决资源管理器</a>
                </div>
                <div class="explorer-viewlet" ng-class="{'show':showSolution}">
                    <div class="pure-menu pure-menu-open">
                        <h3 class="explorer-title">解决资源管理器</h3>
						<div treecontrol class="tree-classic"
						     tree-model="dataForTheTree"
						     options="treeOptions"
						     on-selection="showSelected(node)"
						     selected-node="node1">
						     {{node.name}}
						</div>
                        <ul>
                            <li ng-repeat="item in items" class="group{{item.level}}" ng-class="{
                                    'active': currentDocument.id === document.id,
                                    'octocat': document.isGithubFile
                                    }" ng-click="open(item)">
                                <i class="iconfont {{item.icon}}"></i>
								<a href="#">{{item.name}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="pure-g">
                <span class="document-title">{{title}}</span>
                <div class="editor split-editor1">
                    <div id="editor" ng-click="hideSolution()"></div>
                </div>
                <div class="preview split-preview">
                    <div id="preview">
                        <iframe class="preview-content" src="/dillinger"></iframe>
                    </div>
                </div>
            </div>
            <footer>
                <span class="path">{{path}}</span>
            </footer>
        </div>
		<script type="text/javascript" src="/js/lib/require.js" data-main="main"></script>
		
    </body>
</html>