* {
    margin: 0;
    padding: 0;
  }
  ul,
  ol,
  li {
    list-style: none;
    line-height: 22px;
    text-align: left;
    cursor: pointer;
  }
  
  /*滚动条宽度*/
  ::-webkit-scrollbar {
      width: 10px;
  }
  
  /* 轨道样式 */
  ::-webkit-scrollbar-track {}
  
  /* Handle样式 */
  ::-webkit-scrollbar-thumb {
      /* border-radius: 10px; */
      background: rgba(0, 0, 0, 0.5);
  }
  
  /*当前窗口未激活的情况下*/
  ::-webkit-scrollbar-thumb:window-inactive {
      background: #1E1E1E;
  }
  
  /*hover到滚动条上*/
  ::-webkit-scrollbar-thumb:vertical:hover {
      background-color: rgba(0, 0, 0, 0.6);
  }
  
  /*滚动条按下*/
  ::-webkit-scrollbar-thumb:vertical:active {
      background-color: rgba(0, 0, 0, 0.7);
  }
  html,
  body {
    width: 100%;
    height: 100%;
    font-size: 13px;
  }  
  
  .noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently not supported by any browser */
}