.document-header {
    float: left;
    width: 85%;
    padding-left: 25px;
}
.toolbar-header {
    float: right;
    width: 10%;
    height: 100%;
}
    .pure-menu .toolbar-header a {
        color: #fff;
        display: inline-block;
        line-height: 50px;
        padding: 5px;
    }
nav.pure-menu{
    position: fixed;
    left: 0;
    right: 0;
    z-index: 101;
    height: 50px;
	background-color: #373D49 !important;
}
nav.pure-menu li a{
    color: #fff !important;
}
.pure-menu ul{
    float: right;
}
.action-bar{
    position: fixed;
    z-index: 100;
    top: 50px;
    left:0;
    width: 25px;
    height: 100%;
    background-color: #293955;
}
.action-bar .title-label{
    display: inline-block;
    width: 12px;
    word-break: break-all;
    margin-left: 5px;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
    font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
}
.action-bar .title-label:hover{
    color: orange;
}
.title-document {
    height: 50px;
    line-height: 50px;
    padding-left: 30px;
}
.explorer-viewlet.show {
    width: 300px;
    border: 2px solid #293955;
}
.explorer-viewlet {
    position: absolute;
    z-index: 10;
    top: 50px;
    left: 25px;
    bottom: 20px;
    /*min-width: 300px;*/
    width: 0;
    background-color: #fff;
    overflow: auto;
    transition:width 0.25s linear;
}
.explorer-viewlet h3.explorer-title {
    background-color: #FFF0D0;
    font-size: 11px;
    font-weight: normal;
    padding: 3px 5px;
}
.explorer-viewlet .explorer-bar {    
    padding: 6px;
    background-color: #E8E5E5;
}
    .explorer-viewlet .explorer-bar i {
        /*width:24px;
        height:24px;
        line-height:24px;*/
        text-align:center;
        display: inline-block;
        margin-left: 10px;
    }
    .explorer-viewlet .explorer-bar i:hover {
        /*background-color:#FFF0D0;*/
        color:#E27E37;
    }
.explorer-viewlet ul {
    width: 100%;
}
    .explorer-viewlet li {
        /*display:none;*/
        text-indent: 5px;
        cursor: pointer;
    }
    .explorer-viewlet .level1 {
        padding-left:0px;
    }
    .explorer-viewlet .level2 {
        padding-left:20px;
    }
    .explorer-viewlet .level3 {
        padding-left:40px;
    }
    .explorer-viewlet .level4 {
        padding-left:60px;
    }
    .explorer-viewlet .level5 {
        padding-left:80px;
    }
    .explorer-viewlet .level6 {
        padding-left:100px;
    }
    .explorer-viewlet .level7 {
        padding-left:120px;
    }
.explorer-viewlet .tree-label:hover {
    background-color: #ddd;
}
.explorer-viewlet li.pure-menu-selected {
    background-color: #CCCEDB;
}
.explorer-viewlet li a {
    display: inline-block;
    color:#7B7979;
}
        .explorer-viewlet li i {
            vertical-align: sub;
        }
        .explorer-viewlet li i.txt::after {
            content:'\e604';
        }
        .explorer-viewlet li i.html::after {
            content:'\e603';
        }
            .explorer-viewlet li i.js::after {
                content: '\e606';
                color: #FB7407;
            }
        .explorer-viewlet li i.css::after {
            content:'\e608';
        }
            .explorer-viewlet li i.directory::after {
                font-size: 18px;
                content: '\e60a';
                color: #F9A825;
            }
        .explorer-viewlet li i.empty::after {
            content:'\e60b';
        }
.document-title {
    display: inline-block;
    max-width: 150px;
    max-height: 25px;
    padding: 5px 8px;
    margin-top: 26px;
    overflow:hidden;
    cursor: pointer;
    box-sizing: border-box;
    background-color: #FFF0D0;
}
/* try it styles */
.wrapper {
    height:100%;
    box-sizing:border-box;
}
.code-view {
    padding-top: 50px;
    height: 100%;
    box-sizing: border-box;
}
.split-preview,.split-editor {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding-bottom: 20px;
    background-color: #CCE8CF;
    overflow: auto;
}
.split-preview {
    float: right;
    background-color: rgba(200,200,250,0.3);
}
.split-preview #preview{
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}
.split-editor #editor{
    /*height: 100% !important;
    box-sizing: border-box;*/
}
footer {
    position: fixed;
    z-index: 10;
    bottom: 0;
    width: 100%;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    text-indent: 25px;
    color: #fff;
    background-color: #293955;
}