       
nav.pure-menu{
    height: 50px;
    line-height: 50px;
	background-color: #373D49 !important;
}
nav.pure-menu li a{
    color: #fff !important;
}
.pure-menu ul{
    float: right;
}
/* try it styles */
@media (min-width: 48em){
    .editor {
        position: fixed;
        top: 50px;
        bottom: 20px;
    }
}
.editor{
    border: 1px solid #ddd;
    border-left: none;
}
.action-bar{
    position: fixed;
    z-index: 2;
    top: 50px;
    width: 25px;
    height: 100%;
    background-color: #293955;
}
.action-bar .title-label{
    display: inline-block;
    width: 12px;
    word-break: break-all;
    margin-left: 5px;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
    font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
}
.action-bar .title-label:hover{
    color: orange;
}
.title-document {
    height: 50px;
    line-height: 50px;
    padding-left: 30px;
}
.explorer-viewlet.show {
    width: 300px;
    border: 2px solid #293955;
}
.explorer-viewlet {
    position: absolute;
    z-index: 10;
    top: 50px;
    left: 25px;
    bottom: 20px;
    /*min-width: 300px;*/
    width: 0;
    background-color: #fff;
    overflow: auto;
    transition:width 0.25s linear;
}
.explorer-viewlet h3.explorer-title {
    background-color: #FFF0D0;
    font-size: 11px;
    font-weight: normal;
    padding: 3px 5px;
}
.explorer-viewlet ul {
    width: 100%;
}
    .explorer-viewlet li {
    cursor: pointer;
    }
.explorer-viewlet li:hover {
    background-color: #ddd;
}
.explorer-viewlet li.pure-menu-selected {
    background-color: #CCCEDB;
}
.explorer-viewlet li a {
    display: inline-block;
    color:#7B7979;
}
        .explorer-viewlet li i {
            vertical-align: sub;
        }
        .explorer-viewlet li i.txt::after {
            content:'\e604';
        }
        .explorer-viewlet li i.html::after {
            content:'\e603';
        }
            .explorer-viewlet li i.js::after {
                content: '\e606';
                color: #FB7407;
            }
        .explorer-viewlet li i.css::after {
            content:'\e608';
        }
            .explorer-viewlet li i.directory::after {
                font-size: 18px;
                content: '\e60a';
                color: #DAB92C;
            }
        .explorer-viewlet li i.empty::after {
            content:'\e60b';
        }
.document-title {
    position: absolute;
    top: 26px;
    left: 25px;
    cursor: pointer;
    padding: 5px 10px;
    background-color: #FFF0D0;
}
.editor {
    width: 100%;
    padding-left: 25px;
    box-sizing: border-box;
    overflow: auto;
}
.editor.split-editor {
    float: left;
    width: 50%;
}
.split-preview {
    display:none;
    width: 50%;
    /*padding-left: 50%;*/
    float: right;
    box-sizing: border-box;
    overflow: auto;
}
.split-preview #preview{
    position: absolute;
    top: 50px;
    bottom: 20px;
    width: 50%;
}
footer {
    position: fixed;
    z-index: 10;
    bottom: 0;
    width: 100%;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    text-indent: 25px;
    color: #fff;
    background-color: #293955;
}