html, body{
    width: 100%;
    height: 100%;
    font-size: 12px;
    font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
}
iframe{
    width: 100%;
    height: 100%;
    border: none;
}
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
ul,ol{
    list-style: none;
}
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-track-piece {
    background-color: #cccccc;
    -webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:vertical {
    height: 5px;
    background-color: gray;
    -webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:horizontal {
    width: 5px;
    background-color: #CCCCCC;
    -webkit-border-radius: 6px;
}